{% extends 'base.html.twig' %}
{%block page_title %}
    <h1>My posts</h1>
{% endblock %}
{% block content %}

        <h3>Latest posts</h3>
        <ul>

            {% for post in posts %}
            <li>
                <a href="/post/{{ post.slug }}">{{ post.title}}</a>
            </li>
            {% endfor %}
        </ul>
{% endblock %}
